.about {
  position: relative;
  background-color: honeydew;

  & h3 {
    margin-top: 45px;
    margin-bottom: 57px;
    position: relative;

    @media screen and (width < 1439px)  {
      margin-top: 20px;
      margin-bottom: 46px;
    }

    @media screen and (width < 767px)  {
      margin-top: 16px;
      margin-bottom: 42px;
    }

    &::after {
      content: "O нас";
      bottom: 20px;
      left: 0;

      @media screen and (width < 1439px)  {
        bottom: 0;
      }

      @media screen and (width < 767px)  {
        font-size: 26px;
        line-height: 26px;
        bottom: 10px;
      }
    }
  }

  & h5 {
    margin-bottom: 20px;

    @media screen and (width < 1439px)  {
      margin-bottom: 15px;
    }
  }

  & p {
    font-size: 14px;
    line-height: 22px;

    @media screen and (width < 1439px)  {
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (width < 767px)  {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 660px;
    height: 498px;
    background-image: url("/img/about/bckgnd-desktop@2x.webp");
    background-repeat: no-repeat;
    background-size: cover;
    top: 100px;
    z-index: 1;

    @media screen and (width < 1439px)  {
      width: 542px;
      height: 350px;
      background-image: url("/img/about/bckgnd-tablet@2x.webp");
      top: 174px;
    }

    @media screen and (width < 767px)  {
      width: 100%;
      height: 400px;
      background-image: url("/img/about/bckgnd-mobile@2x.webp");
      top: 20px;
    }
  }
}

.about-wrapper {
  padding-top: 100px;
  padding-bottom: 178px;

  @media screen and (width < 1439px)  {
    padding: 40px 0;
  }

  @media screen and (width < 767px) {
    padding: 20px 0;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 45%;
  z-index: 10;

  @media screen and (width < 1439px)  {
    padding-left: 60%;
  }

  @media screen and (width < 767px)  {
    padding-left: 0;
    padding-top: 420px;
  }
}

.about__history {
  margin-bottom: 25px;
}

.about__history,
.about__mission {
  max-width: 585px;

  @media screen and (width < 1439px)  {
    max-width: 270px;
  }

  @media screen and (width < 767px)  {
    max-width: 290px;
  }
}
