.adv {
  position: relative;

  @media screen and (width < 1439px) {
    background-image: url("../../img/clouds/clouds-3-tablet.png");
    background-repeat: no-repeat;
    background-position-y: 194px;
  }
}

.adv-wrapper {
  padding: 100px 0;

  @media screen and (width < 1439px) {
    padding: 60px 45px 40px;
  }

  @media screen and (width < 767px) {
    padding: 20px 15px 20px;
  }
}

.adv__heading {
  text-align: center;
  margin-bottom: 50px;
  position: relative;

  @media screen and (width < 767px) {
    margin-bottom: 20px;
    padding: 16px 0 17px;
  }

  & h3::after {
    content: "Преимущества";
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (width < 1439px) {
      bottom: 0;
    }

    @media screen and (width < 1439px) {
      bottom: 10px;
    }
  }
}

.adv__swiper {
  margin-bottom: 50px;

  @media screen and (width < 1439px) {
    margin-bottom: 0;
  }
}

.adv__swiper .swiper-wrapper {
  @media screen and (width < 1439px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
  }

  @media screen and (width < 767px) {
    gap: 15px;
  }
}

.adv__item.swiper-slide {
  display: flex !important;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid #80b3e0;
  max-width: 380px;
  padding: 40px 20px;
  height: auto;
  background-color: #ffffff;

  @media screen and (width < 1439px) {
    max-width: calc(50% - 15px);

    &:nth-last-child(1) {
      margin: 0 auto;
    }
  }

  @media screen and (width < 767px) {
    max-width: 290px;
    padding: 20px 10px;
    flex: 0 1 100%;
    max-width: 100%;
    height: 257px;
  }

  & h6 {
    margin-bottom: 15px;
  }

  & span {
    font-size: 14px;
    line-height: 22px;

    @media screen and (width < 767px) {
     font-size: 12px;
     line-height: 18px;
    }
  }
}

.adv__icon {
  border: 1px solid #0266c1;
  margin-bottom: 30px;
  width: 54px;
  height: 54px;
  padding: 16px;

  @media screen and (width < 1439px) {
    margin-bottom: 25px;
    width: 48px;
    height: 48px;
    padding: 12px;
  }

  @media screen and (width < 767px) {
    margin-bottom: 20px;
    width: 42px;
    height: 42px;
    padding: 9px;
  }
}

.adv__buttons {
  justify-content: center;

  @media screen and (width < 1439px) {
    display: none !important;
  }
}
