.card {
  position: relative;
  background-color: #0266c1;
  width: 380px;
  height: 416px;

    @media screen and (width < 1439px)  {
      width: 330px;
    }

    @media screen and (width < 767px) {
      width: 290px;
    }

  &::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 1px;
    background-color: #999999;
    bottom: 77px;
    left: 20px;
  }
}

.card__gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22.3%, rgba(0, 0, 0, 0) 60.32%);
}

.card__data {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  padding: 0 20px 30px;
  width: 380px;

  @media screen and (width < 1439px)  {
    width: 330px;
  }

  @media screen and (width < 767px) {
    width: 290px;
  }
}

.card__link--title {
  color: #ffffff;
  margin-bottom: 31px;
  display: flex;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  margin-bottom: 15px;

  @media screen and (width < 767px) {
    row-gap: 12px;
  }
}

.card__location {
  display: flex;
  background-color: #0266c1;
  padding: 6px 16px 7px 13px;
  align-items: center;
  justify-self: flex-start;
}

.card__location-icon {
  margin-right: 6px;
}

.card__duration {
  display: flex;
  gap: 14px;
}

.card__days,
.card__nights {
  display: flex;
  align-items: center;
}

.card__days-icon,
.card__nights-icon {
  margin-right: 12px;
}

.card__details {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}

.card__stars,
.card__dates,
.card__group {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.card__dates-dates,
.card__group-number {
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  align-content: end;
}
