.contacts {
  height: 617px;
  width: 100%;

  @media screen and (width < 1439px)  {
    height: 681px;
  }

  @media screen and (width < 767px) {
    height: 816px;
  }

  & h3 {
    margin-bottom: 25px;

    @media screen and (width < 1439px)  {
      margin-bottom: 20px;
    }
  }
}

.contacts-wrapper {
  padding: 100px 120px 95px;

  @media screen and (width < 1439px)  {
    padding: 40px 0;
  }

  @media screen and (width < 767px) {
    padding: 20px 0;
  }
}

.contacts__content {
  display: flex;
  color: #2d383f;
  justify-content: space-between;

  @media screen and (width < 1439px)  {
    flex-direction: column;
  }
}

.contacts__details {
  display: flex;
  flex-direction: column;

  @media screen and (width < 1439px)  {
    padding: 0 43px 0 45px;
  }

  & p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
    max-width: 500px;

    @media screen and (width < 1439px)  {
      margin-bottom: 40px;
    }
  }

  & a {
    @media screen and (width < 1439px)  {
    font-size: 14px;
    line-height: 22px;
  }

    @media screen and (width < 1439px)  {
      margin-bottom: 40px;
    }
  }
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 35px;

    & h6 {
    margin-bottom: 8px;

    @media screen and (width < 1439px)  {
      margin-bottom: 6px;
    }
  }

  @media screen and (width < 1439px)  {
    flex-direction: row;
    gap: 35px;
  }
}

.contacts__info-item {
  display: flex;

  & span {
    @media screen and (width < 1439px)  {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.contacts__icon svg {
  margin-right: 30px;
  width: 26px;
  height: 26px;

  @media screen and (width < 1439px)  {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }
}

.contacts__map {
  background-image:
  image-set(
    url("/img/map/map-desktop@1x.png") type("image/png") 1x,
    url("/img/map/map-desktop@2x.png") type("image/png") 2x,
    url("/img/map/map-desktop@1x.webp") type("image/webp") 1x,
    url("/img/map/map-desktop@2x.webp") type("image/webp") 2x,);
  width: 600px;
  height: 324px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 39px;

  @media screen and (width < 1439px)  {
    background-image:
    image-set(
      url("/img/map/map-tablet@1x.png") type("image/png") 1x,
      url("/img/map/map-tablet@2x.png") type("image/png") 2x,
      url("/img/map/map-tablet@1x.webp") type("image/webp") 1x,
      url("/img/map/map-tablet@2x.webp") type("image/webp") 2x,);
    width: 768px;
    height: 340px;
  }

  @media screen and (width < 767px) {
    background-image:
    image-set(
      url("/img/map/map-mobile@1x.png") type("image/png") 1x,
      url("/img/map/map-mobile@2x.png") type("image/png") 2x,
      url("/img/map/map-mobile@1x.webp") type("image/webp") 1x,
      url("/img/map/map-mobile@2x.webp") type("image/webp") 2x,);
    width: 320px;
    height: 343px;
  }
}
