.footer-wrapper {
  padding: 20px 0;
}

.footer__content {
  display: grid;
  grid-template-rows: auto auto;
  gap: 22px;

  @media (max-width: 1439px) {
    gap: 34px;
  }

  @media (max-width: 1439px) {
    gap: 23px;
  }
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.footer__nav-list {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  padding: 22px 0;
  list-style-type: none;

  @media (max-width: 1439px) {
    padding: 14px 0;
  }

  @media (max-width: 767px) {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    gap: 15px 50px;
  }
}

.footer__nav-item {
  display: flex;
  justify-content: center;

  & a {
    color: #2d383f;
    font-size: 16px;
    line-height: 16px;

    @media screen and (width < 1439px)  {
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.footer__logo {
  @media screen and (width < 767px)  {
   margin: 3px 0 23px;
  }
}

.footer__phone {
  color: #2d383f;

  @media screen and (width < 1439px)  {
   display: none;
  }
}

.footer__nav-item--one {
  @media (max-width: 767px) {
    grid-area: 1 / 1;
  }
}

.footer__nav-item--two {
  @media (max-width: 767px) {
    grid-area: 2 / 1;
  }
}

.footer__nav-item--three {
  @media (max-width: 767px) {
    grid-area: 3 / 1;
  }
}

.footer__nav-item--four  {
  @media (max-width: 767px) {
    grid-area: 1 / 2;
  }
}

.footer__nav-item--five {
  @media (max-width: 767px) {
    grid-area: 2 / 2;
  }
}

.footer__nav-item--six {
  @media (max-width: 767px) {
    grid-area: 3 / 2;
  }
}

.footer__social-list {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.footer__privacy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}
