.form {
  height: 760px;
  width: 100%;
  background-image: url("/img/form/bckgrnd_desktop@2x.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #0266c1;

  @media screen and (width < 1439px)  {
    height: 680px;
    background-image: url("/img/form/bckgrnd_tablet@2x.webp");
  }

  @media screen and (width < 767px) {
    height: 638px;
    background-image: url("/img/form/bckgrnd_mobile@2x.webp");
  }
}

.form-wrapper {
  padding: 0 40px;

  @media screen and (width < 1439px)  {
    padding: 0 204px;
  }

  @media screen and (width < 767px) {
    padding: 0 31px;
  }
}

.form-title {

  & h3 {
  padding-top: 292px;
  margin-bottom: 20px;
  text-align: center;

  @media screen and (width < 1439px)  {
    padding-top: 183px;
    margin-bottom: 25px;
  }

  @media screen and (width < 767px) {
    padding-top: 174px;
    margin-bottom: 20px;
  }
}

 & p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 40px;

  @media screen and (width < 1439px)  {
    margin-bottom: 25px;
  }

  @media screen and (width < 767px) {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}
}

.form__boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @media screen and (width < 1439px)  {
    gap: 11px;
  }

  @media screen and (width < 767px)  {
    gap: 11px;
  }
}

.form__box-phone,
.form__box-email {
  position: relative;
}

.form__input {
  font-size: 16px;
  line-height: 16px;
  background-color: #ffffff;
  color: #2d383f;
  border: 1px solid #0266c11a;
  border-radius: 1px;
  padding: 17.5px 30px;
  width: 360px;

  &:hover {
    border-color: #0266c1;
  }

  &:focus {
    border-color: #2d383f;
  }

  &:disabled {
    border-color: #999999;

    &::placeholder {
      color:#999999;
    }
  }

  @media screen and (width < 767px) {
    width: 258px;
    padding: 17.5px 15px;
  }
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  left: 30px;
  color: #2d383f;
}

.form__error-message {
  display: none;
  color: #ff121f;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  left: 0;
  top: 125%;

  @media screen and (width < 1439px)  {
    margin-bottom: 25px;
  }
}

.form__button {
  padding: 20px 25px;

  @media screen and (width < 1439px)  {
    padding: 20px 135px;
  }

  @media screen and (width < 767px)  {
    padding: 20px 84px;
  }
}