.gallery {
  background-color: aliceblue;
}

.gallery-wrapper {
  padding-top: 100px;

  @media screen and (width < 1439px)  {
    padding-top: 60px;
  }

  @media screen and (width < 767px)  {
    padding-top: 36px;
  }
}

.gallery__heading {
  margin-bottom: 46px;

  @media screen and (width < 1439px)  {
    margin-bottom: 21px;
  }

  @media screen and (width < 767px)  {
    margin-bottom: 31px;
  }

  & h3 {
    margin-bottom: 26px;

    @media screen and (width < 1439px)  {
      margin-bottom: 30px;
    }

    @media screen and (width < 767px)  {
      margin-bottom: 27px;
    } 

    &::after {
      content: "Фотогалерея";
      position: absolute;
      bottom: 0;
      left: 0;
    
      @media screen and (width < 767px)  {
        bottom: 10px;
      }
    }
  }

  & span {
    font-size: 16px;
    line-height: 24px;
    max-width: 600px;

  @media screen and (width < 1439px)  {
    font-size: 14px;
    line-height: 22px;
    max-width: 420px;
  }

  @media screen and (width < 767px)  {
    font-size: 12px;
    line-height: 18px;
  }
 }
}

.gallery__heading-wrapper {
  display: flex;
  justify-content: space-between;
}

.gallery__buttons {
  display: none !important;

  @media screen and (width < 1439px)  {
    display: block !important;
    align-content: flex-end;
  }

  @media screen and (width < 767px) {
    display: none !important;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(5, 284px);
  gap: 0 5px;
  width: 1440px;
  height: 463px;
  margin: 0 auto 3px;

  @media screen and (width < 1439px)  {
    width: 768px;
    height: 418px;
    grid-template-columns: repeat(5, 253px);
  }

  @media screen and (width < 767px)  {
    width: 320px;
    height: 266px;
    grid-template-columns: repeat(5, 157px);
  }
}