.main-nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media screen and (width >= 320px) and (width <= 1439px) {
    display: none;
  }
}

.main-nav--opened {
  @media screen and (width >= 320px) and (width <= 1439px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #0266c1;
    z-index: 100;
  }
}

.main-nav__toggle--open {
  display: none;

  @media screen and (width >= 320px) and (width <= 1439px) {
    background-image: url("/source/img/icons/menu.svg");
    display: block;
  }
}

.main-nav__toggle--close {
  background-image: url("/source/img/icons/cross.svg");
  display: block;
}

.main-nav__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media screen and (width >= 320px) and (width <= 1439px) {
    position: absolute;
    flex-direction: column;
    width: 320px;
    z-index: 10;
    background-color: #0266c1;
    align-items: stretch;
  }
}

.main-nav__item {
  list-style: none;

  @media screen and (width >= 320px) and (width <= 1439px) {
    border-top: 1px solid #ffffff;
  }
}

.main-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  padding: 23px 15px;
}

.main-nav--opened .main-nav__link {
  padding: 15px 15px;
}