.main-nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.main-nav__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-nav__item {
  list-style: none;
}

.main-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  padding: 23px 15px;
}

.main-nav__list-toggle {
  display: none;
}
