.page-header {
  display: flex;
  min-width: 320px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #0266c1;
  padding: 32px 120px;

  @media screen and (width >= 768px) and (width <= 1439px) {
    padding: 20px 45px;
    position: relative;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    padding: 15px;
    position: relative;
  }
}

.page-header__nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (width >= 768px) and (width <= 1439px) {
    align-items: center;
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 31px 10px 32px;

  @media screen and (width >= 768px) and (width <= 1439px) {
    margin-left: 78px;
    padding: 0;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    order: 2;
    padding: 0;
    margin-left: 122px;
  }
}

.page-header__phone {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  justify-content: center;

  @media screen and (width >= 768px) and (width <= 1439px) {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 14px;
    line-height: 14px;
    order: 3;
    margin-top: 14px;
    margin-left: 168px;
  }
}
