.reviews {
  background-color: aliceblue;
  padding: 1px 0;
}

.reviews-wrapper {
  padding: 100px 0 0;

  @media screen and (width < 1439px)  {
    padding: 36px 0 0;
  }
}

.reviews__buttons {
  display: none !important;
}

.reviews__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;

  @media screen and (width < 1439px)  {
    margin-bottom: 25px;
  }

  @media screen and (width < 767px)  {
    margin-bottom: 22px;
  }
}

.reviews__title {
  position: relative;

  &::after {
  content: "Отзывы";
  position: absolute;
  bottom: 20px;
  left: 0;

  @media screen and (width < 767px)  {
    bottom: 10px;
  }
  }
}

.swiper.reviews__swiper {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-left: 120px;
  margin-bottom: 77px;

  @media screen and (width < 1439px)  {
    margin-left: 35px;
    margin-bottom: 30px;
  }

  @media screen and (width < 767px)  {
    margin: 0 5px 0 5px;
  }
}

.reviews__list-item {
  max-width: 700px;

  @media screen and (width < 1439px)  {
    max-width: 565px;
  }

  @media screen and (width < 767px)  {
    max-width: 290px;
  }
}

.review__container {
  display: flex;
  gap: 30px;
  background-color: #ffffff;
  padding: 20px 40px 20px 20px;
  box-shadow: 0px 0px 20px 0px #1C33741A;

  @media screen and (width < 1439px)  {
    padding-right: 30px;
  }

  @media screen and (width < 767px)  {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
}

.review__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (width < 767px)  {
    gap: 15px;
  }

  & span {
    font-size: 14px;
    line-height: 22px;

    @media screen and (width < 1439px)  {
      font-size: 12px;
      line-height: 18px;
    }
  }

  & span p:first-child {
    margin-bottom: 10px;
  }
}

.review__name {
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  margin-bottom: 8px;

  @media screen and (width < 767px)  {
    font-size: 12px;
    line-height: 12px;
  }
}

.review__details {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}
