.slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-height: 800px;
  width: 100%;

  @media screen and (width < 1439px)  {
    min-height: 1034px;
  }

  @media screen and (width < 767px) {
    min-height: 568px;
  }
}

.slides-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  flex-shrink: 0;

  & h2 {
    margin-bottom: 25px;

    @media screen and (width < 1439px) {
      margin-bottom: 15px;
    }
  }

  & p {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 35px;
    width: 464px;

    @media screen and (width < 1439px) {
      width: 500px;
    }

    @media screen and (width < 767px) {
      font-size: 15px;
      line-height: 20px;
      width: 290px;
      margin-bottom: 60px;
    }
  }
}

.slide--one {
  background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%),
  image-set(
    url("/img/slider/slide_1-desktop@1x.jpg") type("image/jpeg") 1x, url("/img/slider/slide_1-desktop@2x.jpg") type("image/jpeg") 2x,
    url("/img/slider/slide_1-desktop@1x.webp") type("image/webp") 1x, url("/img/slider/slide_1-desktop@2x.webp") type("image/webp") 2x,);
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (width < 1439px) {
    background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%),
    image-set(
      url("/img/slider/slide_1-tablet@1x.jpg") type("image/jpeg") 1x, url("/img/slider/slide_1-tablet@2x.jpg") type("image/jpeg") 2x,
      url("/img/slider/slide_1-tablet@1x.webp") type("image/webp") 1x, url("/img/slider/slide_1-tablet@2x.webp") type("image/webp") 2x,);
  }

  @media screen and (width < 767px) {
    background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%),
    image-set(
      url("/img/slider/slide_1-mobile@1x.jpg") type("image/jpeg") 1x, url("/img/slider/slide_1-mobile@2x.jpg") type("image/jpeg") 2x,
      url("/img/slider/slide_1-mobile@1x.webp") type("image/webp") 1x, url("/img/slider/slide_1-mobile@2x.webp") type("image/webp") 2x,);
  }
}

.slide--two {
  background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%),
  image-set(
    url("/img/slider/slide_2-desktop@1x.jpg") type("image/jpeg") 1x, url("/img/slider/slide_2-desktop@2x.jpg") type("image/jpeg") 2x,
    url("/img/slider/slide_2-desktop@1x.webp") type("image/webp") 1x, url("/img/slider/slide_2-desktop@2x.webp") type("image/webp") 2x,);
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (width < 1439px) {
    background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%),
    image-set(
      url("/img/slider/slide_2-tablet@1x.jpg") type("image/jpeg") 1x, url("/img/slider/slide_2-tablet@2x.jpg") type("image/jpeg") 2x,
      url("/img/slider/slide_2-tablet@1x.webp") type("image/webp") 1x, url("/img/slider/slide_2-tablet@2x.webp") type("image/webp") 2x,);
  }

  @media screen and (width < 767px) {
    background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%),
    image-set(
      url("/img/slider/slide_2-mobile@1x.jpg") type("image/jpeg") 1x, url("/img/slider/slide_2-mobile@2x.jpg") type("image/jpeg") 2x,
      url("/img/slider/slide_2-mobile@1x.webp") type("image/webp") 1x, url("/img/slider/slide_2-mobile@2x.webp") type("image/webp") 2x,);
  }
}

.slide--two::after {
  position: absolute;
  content: "";
  background-image: 
  image-set(
    url("/img/slider/photocards-desktop@1x.png") type("image/png") 1x, url("/img/slider/photocards-desktop@2x.png") type("image/png") 2x,
    url("/img/slider/photocards-desktop@1x.webp") type("image/webp") 1x, url("/img/slider/photocards-desktop@2x.webp") type("image/webp") 2x,);
  width: 410px;
  height: 459px;
  background-repeat: no-repeat;
  right: 120px;
  top: 187px;

  @media screen and (width < 1439px) {
    background-image: 
    image-set(
      url("/img/slider/photocards-tablet@1x.png") type("image/png") 1x, url("/img/slider/photocards-tablet@2x.png") type("image/png") 2x,
      url("/img/slider/photocards-tablet@1x.webp") type("image/webp") 1x, url("/img/slider/photocards-tablet@2x.webp") type("image/webp") 2x,);
    width: 442px;
    height: 365px;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    left: 50%;
    top: 472px;
  }

    @media screen and (width < 767px) {
    display: none;
  }
}

.slide--three {
  background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%),
  image-set(
    url("/img/slider/slide_3-desktop@1x.jpg") type("image/jpeg") 1x, url("/img/slider/slide_3-desktop@2x.jpg") type("image/jpeg") 2x,
    url("/img/slider/slide_3-desktop@1x.webp") type("image/webp") 1x, url("/img/slider/slide_3-desktop@2x.webp") type("image/webp") 2x,);
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (width < 1439px) {
    background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%),
    image-set(
      url("/img/slider/slide_3-tablet@1x.jpg") type("image/jpeg") 1x, url("/img/slider/slide_3-tablet@2x.jpg") type("image/jpeg") 2x,
      url("/img/slider/slide_3-tablet@1x.webp") type("image/webp") 1x, url("/img/slider/slide_3-tablet@2x.webp") type("image/webp") 2x,);
  }

  @media screen and (width < 767px) {
    background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%),
    image-set(
      url("/img/slider/slide_3-mobile@1x.jpg") type("image/jpeg") 1x, url("/img/slider/slide_3-mobile@2x.jpg") type("image/jpeg") 2x,
      url("/img/slider/slide_3-mobile@1x.webp") type("image/webp") 1x, url("/img/slider/slide_3-mobile@2x.webp") type("image/webp") 2x,);
  }
}

.slide__content-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 200px 120px 80px;
  color: #ffffff;

  @media screen and (width < 1439px)  {
    text-align: center;
    align-items: center;
    padding: 342px 45px 402px;
  }

  @media screen and (width < 767px) {
    padding: 144.5px 15px 160.5px;
  }
}

.slide--two .slide__content-container {
  @media screen and (width < 1439px) {
    padding-top: 137px;
  }
}

.slide__button {
  padding: 19px 33px;
}

.slide__info {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 134px;
  display: flex;
  flex-direction: row;

  @media screen and (width < 1439px) {
    display: none;
  }
}

.slide__info-item {
  border: 1px solid #FFFFFF80;
  padding: 14px 20px 14px 40px;
  margin-right: 10px;
  position: relative;
}

.slide__info-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18px;
  margin: auto;;
}

.slide__info-text {
  padding: 0;
}

.slider__pagination {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 90px;
  gap: 20px;
  right: 120px;

  @media screen and (width < 1439px) {
    justify-content: center;
    transform: translateX(-50%);
    left: 50%;
    bottom: 40px;
    right: 0;
  }
}

.slider__pagination-bullet {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  cursor: pointer;
  z-index: 10;
  position: relative;

  @media screen and (width < 767px) {
    width: 16px;
    height: 16px;
  }

  &--selected {
    background-color: #ffffff;
  }

  &:hover {
    background-color: #d9d9d9;
  }

  &:active {
    background-color: #80b3e0;
  }

  &:focus {
    outline: 1px solid #80b3e0;
    outline-offset: 2px;
  }
}
