.tours {
    height: 813px;
    background-color: azure;
    position: relative;

    @media screen and (width < 1439px)  {
      height: 637px;
    }

    @media screen and (width < 767px) {
      height: 595px;
    }

    & h3 {
      margin-bottom: 53px;

      @media screen and (width < 1439px)  {
        margin-bottom: 25px;
      }

      &:after {
        content: "Ближайшие туры";
        left: 122px;
        top: 83px;

        @media screen and (width < 1439px)  {
          left: 45px;
          top: 28px;
        }
      }
  }
}

.tours-wrapper {
    padding: 100px 0;

    @media screen and (width < 1439px)  {
      padding: 40px 0;
    }

    @media screen and (width < 767px) {
      padding: 36px 0;
    }
}

.swiper.tours__swiper {
    position: relative;
    display: flex;
    width: 1200px;
    height: 416px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 53px;

    @media screen and (width < 1439px) {
      margin-bottom: 25px;
    }
}

.tours__list {
  gap: 30px;

  @media screen and (width < 1439px)  {
    gap: 18px;
  }
}

.tours__link {
  display: flex;
  justify-content: center;
  padding: 10px;

  & a {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  background: transparent;
  color: #2d383f;

  @media screen and (width < 767px) {
    font-size: 14px;
    line-height: 14px;
  }
  }

  &:hover a {
    color: #80b3e0;

    // & .tours__link-icon {
    //   fill: #80b3e0;
    // }
  }

  &:focus a {
    color: #0266c1;
  }

  &:active a {
    color: #1c3374;
  }

  &:disabled a {
    color: #999999;
  }
}

.tours__link-icon {
    margin-left: 12px;
}

.tours__buttons {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  right: 120px;
  top: 102px;
  cursor: pointer;

  @media screen and (width < 1439px)  {
    right: 45px;
    top: 36px;
  }

  @media screen and (width < 767px) {
    display: none;
  }
}

.tours__button {
  width: 37px;
  height: 35px;
  background-color: #0266c1;
  border: 1px solid transparent;

  &:hover {
    background-color: #ffffff;
    border: 1px solid #1c3374;

    & .tours__button-icon {
      color:#1c3374;
    }
  }

  &:focus {
    background-color: #ffffff;
    border: 1px solid #ffffff;

    & .tours__button-icon {
      color:#1c3374;
    }
  }

  &:active {
    background-color: #1c3374;
    border: 1px solid #1c3374;
  }

  &:disabled {
    background-color: #999999;
    border: 1px solid #999999;
  }
}

.tours__link-icon {
  stroke: #1c3374;
  stroke-width: 2px;
}

.tours__link:hover .tours__link-icon {
  stroke: #80b3e0;
}
