.tours {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../img/clouds/clouds-1-desktop.png");
    background-repeat: no-repeat;
    width: 602px;
    height: 1630px;
    z-index: -1;
    right: 0;
    top: -128px;
  }
}

.tours-wrapper {
  padding: 120px 0 100px;

  @media screen and (width < 1439px)  {
    padding: 40px 0;
  }

  @media screen and (width < 767px) {
    padding: 20px 0;
  }
}

.swiper.tours__swiper {
  position: relative;
  display: flex;
  height: 416px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 53px;

  @media screen and (width < 1439px) {
    margin-bottom: 25px;
  }
}

.tours__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;

  @media screen and (width < 1439px)  {
    margin-bottom: 25px;
  }

  & h3 {
    position: relative;
    width: 100%;

    @media screen and (width < 767px)  {
      padding: 16px 0 17px;
    }

  &:after {
    content: "Ближайшие туры";
    position: absolute;
    bottom: 1px;
    left: 0;

    @media screen and (width < 1439px)  {
      bottom: 5px;
    }

    @media screen and (width < 767px)  {
      top: 4px;
    }
  }
}
}

.tours__link {
  display: flex;
  justify-content: center;
  padding: 10px;

  & a {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  background: transparent;
  color: #2d383f;

  @media screen and (width < 767px) {
    font-size: 14px;
    line-height: 14px;
  }
  }

  &:hover a {
    color: #80b3e0;

    // & .tours__link-icon {
    //   fill: #80b3e0;
    // }
  }

  &:focus a {
    color: #0266c1;
  }

  &:active a {
    color: #1c3374;
  }

  &:disabled a {
    color: #999999;
  }
}

.tours__link-icon {
    margin-left: 12px;
}

.tours__link-icon {
  stroke: #1c3374;
  stroke-width: 2px;
}

.tours__link:hover .tours__link-icon {
  stroke: #80b3e0;
}
