.training {
  background-color: aliceblue;
  position: relative;

  & p {
    font-size: 16px;
    line-height: 24px;
    width: 820px;
    display: inline-block;
    margin-bottom: 56px;

    @media screen and (width < 1439px)  {
      width: 678px;
    }

    @media screen and (width < 767px)  {
      width: 290px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 25px;
    }
  }
}

.training-wrapper {
  padding: 55px 0 40px;

  @media screen and (width < 767px) {
    padding: 20px 0;
  }
}

.training__title {
  margin-bottom: 37px;
  position: relative;

  @media screen and (width < 1439px)  {
    margin-bottom: 36px;
  }

  @media screen and (width < 767px)  {
    margin-top: 16px;
    margin-bottom: 35px;
  }

  &::after {
    content: "Обучение";
    bottom: 0;
    left: 0;

    @media screen and (width < 767px)  {
      font-size: 26px;
      line-height: 26px;
      bottom: 14px;
    }
  }
}

.training .instructors__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media screen and (width < 1439px)  {
    margin-bottom: 30px;
  }
}

.training .swiper.instructors__swiper {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;

  @media screen and (width < 1439px) {
    margin-bottom: 25px;
  }
}

.training .instructors__buttons {
  bottom: 53px;

  @media screen and (width < 1439px)  {
  }
}

.training .instructors__list {
  align-items: stretch;
}

.training .instructors__list-item {
  display: flex;
  position: relative;
  width: 285px;
  height: auto;
  border: 1px solid #80b3e0;

  @media screen and (width < 1439px)  {
    width: 212.67px;
  }

  @media screen and (width < 767px)  {
    width: 290px;
  }
}

.training .instructor__container {
  padding: 15px;

  & img {
    margin-bottom: 15px;
  }

  & span {
    font-size: 12px;
    line-height: 16px;
  }
}

.training .instructor__name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #2d383f;
}

.training__process {
  & h5 {
    margin-bottom: 23px;

    @media screen and (width < 1439px)  {
      margin-bottom: 104px;
    }

    @media screen and (width < 767px)  {
      margin-bottom: 25px;
    }
  }
}

$areas: (
  map,
  boot,
  trees,
  mountain
);

.training__process-list {
  position: relative;
  margin-bottom: 22px;

  @each $name in $areas {
    .training__process-item--#{$name} {
    grid-area: #{$name};
  }

    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 253.33px);
    grid-template-areas:
        "map  boot trees mountain"
  }

  @media screen and (width < 1439px)  {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "map      mountain"
      "boot     trees";
    column-gap: 174px;
    row-gap: 104px;
  }

  @media screen and (width < 767px)  {
    grid-template-columns: 1fr;
    grid-template-areas:
      "map"
      "boot"
      "trees"
      "mountain";
    column-gap: 0;
    row-gap: 25px;
    margin-left: 29px;
}

  &::before {
    content: "";
    position: absolute;
    width: 1180px;
    height: 2px;
    bottom: -6px;
    left: 24px;
    background-color: #0266c1;

    @media screen and (width < 1439px)  {
      display: none;
    }

    @media screen and (width < 767px)  {
      display: block;
      position: absolute;
      content: "";
      width: 2px;
      height: 183px;
      bottom: 13px;
      left: -21px;
    }
  }
}


.training__process-item {
  display: flex;
  gap: 10px;
  padding: 0 10px;
  position: relative;

    @media screen and (width < 1439px)  {
      padding: 0;
    }

  & svg {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
  }

  & span {
    font-size: 16px;
    line-height: 24px;
    color:#2d383f;

    @media screen and (width < 1439px)  {
      font-size: 14px;
      line-height: 22px;
    }

    @media screen and (width < 767px)  {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &::after {
    content: "";
    position:absolute;
    width: 14px;
    height: 14px;
    background-color: #0266c1;
    border-radius: 50%;
    top: 70px;
    left: 10px;

    @media screen and (width < 1439px)  {
      display: none;
    }

    @media screen and (width < 767px)  {
      display: block;
      top: 10px;
      left: -27px;
    }
  }
}
