@import "vendor/normalize";
@import "common/mixins";
@import "common/fonts";

@import "blocks/page-header";
@import "blocks/main-nav";



body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 1440px;
  margin: 0 auto;
  padding: 1px 0;

  @media screen and (width >= 768px)and (width <= 1439px) {
    width: 678px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    width: 290px;
  }
}

.section-wrapper {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (width >= 768px)and (width <= 1365px) {
    max-width: 678px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    max-width: 290px;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h2 {
  font-weight: 800;
  font-size: 55;
  line-height: 55;

  @media screen and (width >= 768px) and (width <= 1439px) {
    font-size: 40;
    line-height: 40;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 26;
    line-height: 26;
  }
}

h3 {
  font-weight: 800;
  font-size: 35;
  line-height: 35;

  @media screen and (width >= 768px) and (width <= 1439px) {
    font-size: 25;
    line-height: 25;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 22;
    line-height: 22;
  }
}

h4 {
  font-weight: 700;
  font-size: 24;
  line-height: 28;

    @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 20;
    line-height: 24;
  }
}

h5 {
  font-weight: 700;
  font-size: 21;
  line-height: 21;

  @media screen and (width >= 768px) and (width <= 1439px) {
    font-size: 18;
    line-height: 18;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 16;
    line-height: 16;
  }
}

h6 {
  font-weight: 600;
  font-size: 18;
  line-height: 18;

  @media screen and (width >= 768px) and (width <= 1439px) {
    font-size: 16;
    line-height: 16;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    font-size: 14;
    line-height: 14;
  }
}

h7 {
  font-weight: 700;
  font-size: 14;
  line-height: 16;
}

/* иконка меню */

.menu__toggle {
  display: none;
  
  @media screen and (width >= 768px) and (width <= 1439px) {
    position: relative;
    margin: 0;
    height: 26px;
    width: 26px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    position: relative;
    margin: 0;
    height: 26px;
    width: 26px;
    order: -1;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.menu__toggle--open {
  @media screen and (width >= 320px) and (width <= 1439px) {
    display: block;
    background-image: url("/source/img/icons/menu.svg");
  }
}

.menu__toggle--close {
  @media screen and (width >= 320px) and (width <= 1439px) {
    display: block;
    background-image: url("/source/img/icons/cross.svg");
  }
}

// .button {
//   font-family: "Roboto", sans-serif;
//   font-size: 12px;
//   line-height: 12px;
//   background: transparent;
//   border: 2px solid;
//   cursor: pointer;
//   text-align: center;
// }

// .play-button {
//   width: 100px;
//   height: 100px;
//   position: absolute;

//   @media screen and (width >= 320px)and (width <= 1365px) {
//     width: 72px;
//     height: 72px;
//   }
// }

// .logo {
//   width: 130px;
//   height: 26px;

//   @media screen and (width >= 768px) and (width <= 1365px) {
//     width: 110px;
//     height: 22px;
//   }

//   @media screen and (width >= 320px) and (width <= 767px) {
//     width: 100px;
//     height: 20px;
//   }
// }



// .close-minus {
//   width: 40px;
//   height: 40px;
//   position: absolute;
//   right: 0;
//   top: 15px;

//   @media screen and (width >= 320px) and (width <= 767px) {
//     width: 30px;
//     height: 30px;
//   }
// }

// .open-plus {
//   width: 40px;
//   height: 40px;
//   position: absolute;
//   right: 0;
//   top: 15px;

//   @media screen and (width >= 320px) and (width <= 767px) {
//     width: 30px;
//     height: 30px;
//   }
// }


// .vk-icon,
// .ok-icon,
// .rd-icon {
//   width: 14px;
//   height: 14px;
//   fill: #030a1a;
// }

// .phone,
// .e-mail {
//   color: #102654;
//   font-size: 14px;
//   line-height: 22px;

//   @media screen and (width >= 320px) and (width <= 767px) {
//     font-size: 14px;
//     line-height: 20px;
//   }
// }
