@import "vendor/normalize";
@import "common/mixins";
@import "common/fonts";

@import "blocks/header";
@import "blocks/slider";
@import "blocks/tours";
@import "blocks/tour-card";
@import "blocks/about";
@import "blocks/form";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/training";
@import "blocks/reviews";
@import "blocks/adv";


body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h2 {
  font-weight: 800;
  font-size: 77px;
  line-height: 77px;

  @media screen and (width < 1439px) {
    font-size: 56px;
    line-height: 56px;
  }

  @media screen and (width < 767px) {
    font-size: 26px;
    line-height: 26px;
  }
}

h3 {
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;
  position: relative;

  @media screen and (width < 1439px) {
    font-size: 25px;
    line-height: 25px;
  }

  @media screen and (width < 767px) {
    font-size: 22px;
    line-height: 22px;
  }

  &:after {
    position: absolute;
    font-weight: 800;
    font-size: 55px;
    line-height: 55px;
    color: #2d383f;
    opacity: 0.03;

    @media screen and (width < 1439px) {
      font-size: 40px;
      line-height: 40px;
    }

    @media screen and (width < 767px) {
      font-size: 26px;
      line-height: 26px;
    }
  }
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

    @media screen and (width < 767px) {
    font-size: 20px;
    line-height: 24px;
  }
}

h5 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;

  @media screen and (width < 1439px) {
    font-size: 18px;
    line-height: 18px;
  }

  @media screen and (width < 767px) {
    font-size: 16px;
    line-height: 16px;
  }
}

h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;

  @media screen and (width < 1439px) {
    font-size: 16px;
    line-height: 16px;
  }

  @media screen and (width < 767px) {
    font-size: 14px;
    line-height: 14px;
  }
}

h7 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

.div-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1px 0;

  @media screen and (width >= 768px)and (width <= 1439px) {
    max-width: 678px;
  }

  @media screen and (width >= 320px) and (width <= 767px) {
    max-width: 290px;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.button {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  background-color: #0266c1;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #0266c1;

  &:hover {
    background-color: #ffffff;
    color: #1c3374;
    border: 1px solid #1c3374;
  }

  &:focus {
    background-color: #ffffff;
    color: #1c3374;
    border: none;
  }

  &:active {
    background-color: #1c3374;
    color: #ffffff;
    border: none;
  }

  &:disabled {
    background-color: #999999;
    color: #ffffff;
    border: none;
  }
}

.logo {
  width: 142px;
  height: 42px;
}

.phone {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;

  @media screen and (width < 1439px) {
    font-size: 16px;
    line-height: 16px;
  }

  @media screen and (width < 767px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.phone-number,
.e-mail {
  color: #2d383f;
  font-size: 16px;
  line-height: 24px;

  @media screen and (width < 1439px)  {
    font-size: 14px;
    line-height: 22px;
  }

  @media screen and (width < 767px)  {
    font-size: 14px;
    line-height: 20px;
  }
}

.swiper-buttons {
  display: flex;
  gap: 4px;
  cursor: pointer;

  @media screen and (width < 767px) {
    display: none;
  }
}

.swiper-buttons__button {
  width: 37px;
  height: 35px;
  background-color: #0266c1;
  border: 1px solid transparent;

  &:hover {
    background-color: #ffffff;
    border: 1px solid #1c3374;

    & svg {
      fill:#1c3374;
    }
  }

  &:focus {
    background-color: #ffffff;
    border: 1px solid #ffffff;

    & svg {
      fill:#1c3374;
    }
  }

  &:active {
    background-color: #1c3374;
    border: 1px solid #1c3374;
  }

  &:disabled {
    background-color: #999999;
    border: 1px solid #999999;
  }

  & svg {
    fill: #ffffff;
  }
}
